/* *{
    border: 1px solid black;
} */
h1{
   font-size: 7em;
   margin-bottom: 20px;
}
input{
    width: 100%;
    border-radius: 50px;
    padding: 10px;
    font-size: 18px;
}
button{
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    max-height: 80vh;  
    max-width: 800px; 
    margin: 0 auto;
}
.search{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-bottom: 20px;
}
.buttons{
    margin-bottom: 20px;
}

.linkItem{
    text-decoration: underline;
    color: blue;
    font-size: 18px
}
